//generic
$white: #fff;
$black: #000;
$orange: #eb6e2e;
$gray: #ededed;

$welcome-slider-button: #ff8400;
$welcome-slider-button-hover: #ededed;
$button-bg: #231f20;
$button--hover-bg: #333232;
$text-white-color: #fff;
$text-dark-color: #231f20;
$navbar-bg: #2b2b2b;
$side-navbar-bottom-color: #f9f6f6;
$searchbar-bg: #eeeeee;
$searchbar-color: #bbbbbb;
$popular-offers-lowest-price: #808080;
$section-name-color: #505050;
$card-bg: #efefef;
