@import '@/app/styles/fontSizes';
@import '@/app/styles/colors';
@import '@/app/styles/mixins';

.slideContainer {
  border-radius: 24px;
  background: $card-bg;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  padding: 30px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3,
  p {
    margin: 3px 0;
  }

  h3 {
    font-size: $popular-offers-header;
  }
}

.productSecondLine {
  font-weight: 200;
  font-size: $small;
}

.lowestPrice {
  font-size: $extra-small;
  color: $popular-offers-lowest-price;
  width: 50%;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: flex-end;
}

.actualPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  p:first-child {
    font-size: $popular-offers-header;
    font-weight: 700;
  }

  p:last-child {
    font-size: $large;
    color: $orange;
    text-decoration: line-through;
    text-decoration-line: solid;
  }
}

.swiper {
  padding: 10px;
}

.popularOffers {
  h2 {
    color: $section-name-color;
    font-size: $section-name-small-size;
    font-weight: 400;
  }

  @include laptop {
    align-items: flex-start;

    h2 {
      font-size: $section-name-size;
    }
  }
}

.swipeButton {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid $text-dark-color;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
  }
}

.swipeButton:hover {
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: flex-end;
  padding: 0 30px;
  padding-top: 20px;

  div:first-child button {
    transform: rotate(90deg);
    transition: 0.2s;
  }

  div:last-child button {
    transform: rotate(-90deg);
    transition: 0.1s;
  }

  div:last-child:hover button {
    transform: rotate(-90deg) scale(1.1);
  }

  div:first-child:hover button {
    transform: rotate(90deg) scale(1.1);
  }
}
