@import '@/app/styles/colors';
@import '@/app/styles/fontSizes';

.button {
  background-color: $button-bg;
  color: $text-white-color;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  transition: 0.3s;
}

.button:hover {
  background-color: $button--hover-bg;
  color: $text-dark-color;
  cursor: pointer;
}

.extraSmall {
  padding: 4px 24px;
  font-size: $small;
}
.medium {
  padding: 18px 40px;
  font-size: $medium;
}

.large {
  padding: 12px 48px;
  font-size: $large;
}

.extraLarge {
  padding: 16px 60px;
  font-size: $extra-large;
}
