//generic
$white: #fff;
$black: #000;
$orange: #eb6e2e;
$gray: #ededed;

$button-bg: #231f20;
$button--hover-bg: #2f2f2f;
$text-white-color: #fff;
$text-dark-color: #231f20;
$navbar-bg: #2b2b2b;
$side-navbar-bottom-color: #f9f6f6;
