@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../app/diff.scss';

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

button {
  border: none;
}

// podnosimy maina, aby navbar miał tło
main {
  position: relative;
  top: -$navbar-height-mobile;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
