@import '@/app/styles/colors';
@import '@/app/styles/diff';
@import '@/app/styles/fontSizes';

.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 0 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  background-color: $navbar-bg;
  img {
    height: 100%;
    width: 60px;
  }
}

.mobileNav {
  height: $navbar-height-mobile;
}

.desktopNav {
  height: $navbar-height-desktop;
}

.desktopNavbar,
.desktopNavbarTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.desktopNavbar {
  flex-direction: column;
}

.desktopNavbar ul {
  display: flex;
}

.searchbar {
  width: 456px;
  padding: 10px 14px;
  padding-left: 34px;
  border-radius: 4px;
  background-color: $searchbar-bg;
}

.searchbar:focus {
  outline: none;
}

.searchbar::placeholder {
  color: $searchbar-color;
}

.searchbarWrapper {
  position: relative;

  svg {
    color: $searchbar-color;
    height: 19px;
    width: 19px;
    position: absolute;
    top: 21%;
    left: 14px;
  }
}

.desktopNavbarBot {
  width: 100%;
}

.desktopNavbarBot ul,
.desktopNavbarBot ul {
  justify-content: space-around;
  font-size: $small;
}

.desktopNavMainCategories {
  li {
    padding: 3px 12px;
    position: relative;
  }

  li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: $orange;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  li:hover {
    cursor: pointer;
  }

  li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .activeMenu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: $orange;
    transition: transform 0.25s ease-out;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.submenusList {
  li:hover {
    cursor: pointer;
  }
}

.submenusList {
  position: absolute;
  width: 100%;
  top: $navbar-height-desktop;
  left: 0;
  background-color: $navbar-bg;
  display: flex;
  align-items: center;
  height: 0;
  transition: height 0.3s;

  ul {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}

.submenuOpen .submenusList {
  height: 35%;
}

.topOptions {
  gap: 16px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  li:hover {
    cursor: pointer;
  }

  svg {
    height: 20px;
    width: 20px;
  }
}
