@import '@/app/styles/colors';
@import '@/app/styles/fontSizes';
@import '@/app/styles/mixins';

.products {
  h2 {
    color: $section-name-color;
    font-size: $section-name-small-size;
    font-weight: 400;
  }

  @include laptop {
    h2 {
      font-size: $section-name-size;
    }
  }
}

.productsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 70px;
  column-gap: 80px;

  @include laptop {
    row-gap: 70px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 140px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $button-bg;
  cursor: pointer;
  max-width: 330px;

  @include small-phone {
    max-width: 100%;
  }
}

.cardTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  background-color: $button-bg;
  color: $text-white-color;
  padding: 25px;
  min-height: 300px;

  h3 {
    font-weight: 500;
    font-size: $popular-offers-header;
  }

  @include laptop {
    flex-direction: row;
    min-height: 230px;
    gap: 25px;

    h3 {
      font-size: $products-section-h3;
    }
  }
}

.cardBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 40px;
  text-align: center;

  h3 {
    font-weight: 500;
    font-size: $products-section-h3;
    margin-bottom: 0;
  }

  @include laptop {
    padding: 0;
    text-align: left;
    align-items: flex-start;

    h3 {
      width: 50%;
    }
  }
}

.servicesCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  button {
    background-color: $white;
    color: $text-dark-color;
    padding: 16px;
    font-weight: 600;
    align-self: flex-end;
    min-width: 200px;
  }
}

.headerWOImg {
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 8px;
  }
}
