@import '@/app/styles/colors';
@import '@/app/styles/mixins';

.partners {
  .header {
    text-align: center;
    letter-spacing: 11px;
    color: $text-dark-color;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  img {
    height: 45px;
  }

  @include laptop {
  }
}
